version: '3.8'
services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: auto_box
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql
    restart: always

volumes:
  db_data:
